/* ==========================================================================
	 Base customize for forms
	 ========================================================================== */
::placeholder
	color: $text
	font-weight: $w-regular

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	display: none

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

input[type=number]
	-moz-appearance: textfield

input[readonly]
	pointer-events: none

input, textarea
	outline: none
	font-family: $userfont

label
	cursor: pointer

.form
	position: relative
	&-control,
	&-textarea,
	&-select
		appearance: none
		display: block
		width: 100%
		border-radius: 0
		border: none
		background-color: $white
		background-clip: padding-box
		color: $dark
		font-size: 15px
		font-weight: $w-medium
		line-height: 1.5
		transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, background-color .3s ease-in-out
		&:focus
			outline: none
			box-shadow: 0 0 0 3px rgba($yellow-300, 0.25)

	// Input
	&-control,
	&-select
		height: 68px
		padding-left: 20px
		padding-right: 20px
		+media-breakpoint-down(xs)
			height: 60px
		&--number
			-moz-appearance: textfield
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button
				-webkit-appearance: none
				margin: 0

	// Textarea
	&-textarea
		resize: none
		padding: 20px

	// Submit button
	.btn-submit
		width: 100%

	// Form group
	&-group
		position: relative
		margin-bottom: 20px
		&-icon
			position: absolute
			top: 16px
			bottom: 16px
			display: flex
			align-items: center
			padding-left: 20px
			padding-right: 20px
			border-right: 1px solid $gray-200
			.icon
				width: 16px
				height: 16px
				fill: $text
		.form-control
			padding-left: 78px