@import '../helpers/helpers'

.footer
	margin-left: 100px
	margin-right: 100px
	+media-breakpoint-down(xl)
		margin-left: 80px
		margin-right: 80px
	+media-breakpoint-down(lg)
		margin-left: 0
		margin-right: 0

	// Call to action
	&-cta
		position: relative
		z-index: 1
		padding-top: 100px
		padding-bottom: 100px
		+media-breakpoint-down(md)
			padding-top: 60px
			padding-bottom: 60px
		&::before,
		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
		&::before
			background: url('../images/dist/footer-cta.jpg') no-repeat center/cover
		&::after
			background-color: rgba($purple, 0.95)
		&-inner
			display: flex
			align-items: center
			justify-content: space-between
			+media-breakpoint-down(sm)
				flex-direction: column
				align-items: flex-start
		&-content
			padding-right: 40px
			.title
				max-width: 80%
				+media-breakpoint-down(xl)
					max-width: 700px
				+media-breakpoint-down(md)
					font-size: 32px
				+media-breakpoint-down(xs)
					font-size: 28px
			.descr
				max-width: 600px
		&-form
			flex: 0 0 350px
			+media-breakpoint-down(lg)
				flex-basis: 300px
			+media-breakpoint-down(md)
				flex-basis: 260px
			+media-breakpoint-down(sm)
				flex-basis: 100%
				width: 100%
				margin-top: 40px
			.btn-submit
				min-width: 100%

	// Footer bottom
	&-bottom
		padding-top: 50px
		padding-bottom: 50px
		&-inner
			display: flex
			align-items: center
			justify-content: space-between
			+media-breakpoint-down(xs)
				flex-direction: column
				text-align: center
			.madeby
				color: $gray-300
				+media-breakpoint-down(xs)
					margin-top: 30px
				> span
					color: red
				&:hover
					color: $purple