@import '../helpers/helpers'

.mmenu
	pointer-events: none
	overflow-x: hidden
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 999
	background-color: $white
	visibility: hidden
	opacity: 0
	transition: $trs
	&._is-active
		pointer-events: auto
		visibility: visible
		opacity: 1