@import '../helpers/helpers'

.section
	position: relative
	margin-top: 200px
	+media-breakpoint-down(xl)
		margin-top: 150px
	&-blue
		padding-top: 150px
		padding-bottom: 150px
		+media-breakpoint-down(xl)
			padding-top: 100px
			padding-bottom: 100px
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			background-color: $bg-blue
	&-heading
		max-width: 60%
		margin-bottom: 50px
		.title
			margin-bottom: 0
		.descr
			margin-top: 20px
			margin-bottom: 0